<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>ML MODEL</title>
</head>
<body>
    <h1>CHATBOT :)</h1>
    <div id="chatbox">
        <p class="botText"><span>Hi! I'm Chatbot. :)</span></p>
        <div class="userText">
            <span>{{userMessage}}</span>
        </div>
        <div class="botText">
            <span>
                {{botResponse}}
            </span>
        </div>
        <div id="userInput">
            <form method="post">
                <input id="textInput" type="text" name="size" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </form>
        </div>
    </div>
</body>
</html>